body {
    color: #555;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

div{
    margin-left: 10%;
    margin-right: 10%;
}

#login{
    margin-left: 30%;
}

#lost {
    margin-top: 5%;
    text-align: center;
}

#err {
   color: red;
}

#nav {
    text-align: right;
}

#navlink{
    text-decoration: none;
    color: gray;
    padding-left: 2px;
    padding-right: 2px;
}



